Source: draco
Section: unknown
Priority: optional
Maintainer: Seth Alves <seth.alves@gmail.com>
Build-Depends: cdbs,debhelper (<= 10)
Standards-Version: 4.1.3
Homepage: https://google.github.io/draco/

Package: draco
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for compressing/decompressing 3D geometric meshes
 Draco is an open-source library for compressing and decompressing 3D geometric meshes and point clouds. It is intended to improve the storage and transmission of 3D graphics.
